.card {
  max-width: 350px;
  margin-top: 1.25rem;
  background: var(--clr-card-bg);
  border-radius: 10px;
  box-shadow: 1px 1px 2px var(--clr-neutral-200);
  transition: 0.2s ease-in-out;
  transition-delay: 0.1s;
}
.card:hover {
  /* box-shadow: var(--clr-primary-original) 0px 22px 70px 4px; */
  box-shadow: var(--clr-primary-original) 0px 0px 40px -10px;
}

/* Add border to cards when high-contrast forced colors is active */
@media (forced-colors: active) {
  .card {
    border: 2px solid;
  }
}

.title {
  font-size: 24px;
  padding: 16px;
  color: var(--clr-heading);
}

.descriptionTitle {
  font-size: 14px;
  text-align: center;
  padding-bottom: 0.25rem;
}

.image {
  height: 220px;
}

.content {
  padding: 16px;
  font-size: 14px;
  color: var(--clr-text);
}

.previewText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* See if this helps Safari line-clamp */
.previewText > p {
  margin-bottom: 0;
}

.backend,
.frontend {
  padding-top: 0.25rem;
}

.note {
  padding-top: 1rem;
}

.toggleButton {
  float: right;
  margin-top: 0.75rem !important;
}

.githubButton {
  margin-left: 1rem;
}

.buttonIcon {
  position: relative;
  top: 4px;
}

.buttonText {
  padding-left: 5px;
}

.nav {
  margin-top: 3rem;
  margin-left: 0.5rem;
  padding-bottom: 1rem !important;
  padding: 8px;
}

.projects {
  margin-bottom: 2rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
}

@media (max-width: 1200px) {
  .columns {
    /* width: 900px; */
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .columns {
    grid-template-columns: 1fr;
  }
}
