.hero {
  padding-top: 12.75rem;
  margin-bottom: 8rem;
}

.heroHeader {
  font-family: var(--ff-main-heading);
  font-size: 9rem;
  color: var(--clr-main-heading);
}

.heroSubhead {
  display: block;
  font-size: 2.25rem;
  color: var(--clr-subheading);
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
  .columns {
    grid-template-columns: 1fr;
  }
}
