.hero {
  padding-top: 12.75rem;
  margin-bottom: 2rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
  .columns {
    grid-template-columns: 1fr;
  }
}
