/* .primaryHeader {
  color: var(--clr-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .navContainer {
  max-width: 1200px;
  margin: auto;
  border: 1px fuchsia solid;
  display: flex;
}
*/

.primaryHeader {
  /* max-width: 900px; */
}

.navWrapper {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.navbarName {
  padding-block: 2.25rem;
  font-family: var(--main-heading);
  font-weight: 700;
  font-size: 1.25rem;
  color: inherit;
  letter-spacing: 0.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.codeIcon {
  margin-left: 2rem;
  padding-top: 0.4rem;
  padding-right: 1rem;
}

.primaryNavigation {
  padding-block: 2.25rem;
  padding-inline: clamp(2rem, 5vw, 10rem);
  list-style: none;
  display: flex;
  z-index: 100;
  gap: clamp(2rem, 2vw, 3rem);
  background: hsl(230 30% 46% / 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 40%;
}

@supports (backdrop-filter: blur(1rem)) {
  .primaryNavigation {
    background: hsl(230 30% 46% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

.navList {
  display: flex;
  text-align: center;
}

/* .mobileNavToggle {
  display: none;
} */

.displayMdInlineFlex {
  display: inline-flex;
}

@media (max-width: 900px) {
  .primaryHeader[data-overlay] {
    position: relative;
    z-index: 999;
  }

  .primaryNavigation {
    /* display: block; */
    /* position: absolute;
    z-index: 1000;
    inset: 0 0 0 50%; */
    /* transform: translateX(100%);
    transition: transform 350ms ease-out; */

    display: none;
    position: fixed;
    inset: 7rem 0 auto auto;
    max-width: 25rem;
    /* margin-inline: auto; */
    background: var(--clr-neutral-300);
    border-radius: var(--size-100);
    padding: var(--size-700);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.25);
  }

  /* .primaryHeader {
    background: hsl(230 30% 46% / 0.1);
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primaryHeader {
      background: hsl(230 30% 46% / 0.1);
      backdrop-filter: blur(1rem);
    }
  } */

  .primaryHeader[data-overlay='true']::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 1));
  }

  .navList {
    display: grid;
    gap: 2rem;
    text-align: center;
  }

  .primaryNavigation[data-visible='true'] {
    display: block;
    /* transform: translateX(0%); */
  }

  .navbarName {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .mobileNavToggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    position: fixed;
    z-index: 9999;
    top: 1rem;
    right: 2rem;
    aspect-ratio: 1;
    width: 2rem;

    background-image: url(../../static/menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobileNavToggle[aria-expanded='true'] {
    background-image: url(../../static/close.svg);
  }

  .displayMdInlineFlex {
    display: inline-flex;
  }

  .displaySmNone {
    display: none !important;
  }
}
