.about {
  padding-top: 3.75rem;
  padding-bottom: 4.5rem;
}

.aboutContent {
  margin-top: 1rem;
}

.bio,
.skills,
.fediverse {
  padding-bottom: 3rem;
}

.body {
  padding-bottom: 0.5rem;
}

.icon {
  display: inline-block;
  position: relative;
  top: 0.5rem;
}

.link {
  display: inline-block;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
  .columns {
    grid-template-columns: 1fr;
  }
}

/* Fediverse graphic placement */

.aboutFedi::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 70%;
  background-image: url(/src/static/fediverse_logo.svg);
  width: 715px;
  height: 690px;
  opacity: 15%;
  background-repeat: no-repeat;
  transform: translateX(-4em) translateY(-1em) scale(-70%) rotate(-5deg);
}

.fediHeading,
.aboutFedi {
  position: relative;
  z-index: 1;
}

.fediBody {
  z-index: 1;
}

.fediHeading::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 70%;
  background-image: url(/src/static/fediverse_logo.svg);
  width: 725px;
  height: 725px;
  background-repeat: no-repeat;
  transform: translateX(-14.5em) translateY(-8em) scale(-50%);
}

@media (max-width: 900px) {
  .fediHeading::before {
    z-index: 0;
    inset: 0;
    opacity: 20%;
    width: 725px;
    height: 725px;
    transform: translateX(-4em) translateY(-7em) scale(-50%);
  }
}

@media (max-width: 520px) {
  .aboutFedi::before {
    transform: translateX(-6em) translateY(-1em) scale(-40%) rotate(-5deg);
  }
  .fediHeading::before {
    transform: translateX(-6em) translateY(-7em) scale(-30%);
  }
}
