.primaryHeader {
  color: var(--clr-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  width: 100%;
  top: 0;
  right: 0; */
}

/* .navContainer {
  max-width: 1200px;
  margin: auto;
  border: 1px fuchsia solid;
  display: flex;
}
*/

.navbarName {
  padding-block: 1rem;
  font-family: 'asap';
  font-weight: 700;
  font-size: 1.25rem;
  color: inherit;
  letter-spacing: 0.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.codeIcon {
  margin-left: 2rem;
  padding-top: 0.4rem;
  padding-right: 1rem;
}

.primaryNavigation {
  padding-block: 1rem;
  padding-inline: clamp(2rem, 5vw, 10rem);
  list-style: none;
  display: flex;
  gap: clamp(2rem, 2vw, 3rem);
  background: hsl(230 30% 46% / 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 40%;
}

.mobileNavToggle {
  display: none;
}

@supports (backdrop-filter: blur(1rem)) {
  .primaryNavigation {
    background: hsl(230 30% 46% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

@media (max-width: 900px) {
  .primaryNavigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%;
    flex-direction: column;
    padding: min(10vh, 6rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primaryNavigation[data-visible='true'] {
    transform: translateX(0%);
  }

  .mobileNavToggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 1rem;
    right: 2rem;
    aspect-ratio: 1;
    width: 2rem;
    border: 0;
    background-color: transparent;
    background-image: url(../../static/menu.svg);
    background-repeat: no-repeat;
  }

  .mobileNavToggle[aria-expanded='true'] {
    background-image: url(../../static/close.svg);
  }
}

.navbarLink:hover,
.navbarLink:active {
  color: var(--clr-primary-original);
  background: var(--clr-accent-original) !important;
}

.active {
  color: var(--clr-primary-original);
  background: var(--clr-accent-original) !important;
}
