.footer {
  margin-top: 2em;
  text-align: center;
}

.footerNavigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footerIcon {
  color: var(--clr-icon);
}

.footerIcon:hover {
  color: var(--clr-accent);
}

.copyright {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-weight: bold;
}
