/*
Optional CSS variables to set here or globally

--tooltipColor: tooltip text color
--tooltipBackground: tooltip background color
--tooltipDelay: delay on hover before tooltip shows

*/

/* tooltip */

[data-md-tooltip] {
  position: relative;
}
[data-md-tooltip]::before {
  --tooltipDelay: 0.3s;

  content: attr(data-md-tooltip);
  position: absolute;
  /* display: block; */
  bottom: -35px;
  padding: 2px 8px;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease-in-out;
  transition-delay: var(--tooltipDelay, 0s);
  transform-origin: top;
  background: var(--tooltipBackground, #616161e6);
  color: var(--tooltipColor, white);
  color: attr(data-delay);
  border-radius: 3px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
[data-md-tooltip]:hover::before {
  transform: translateX(-50%) scale(1);
}

[data-md-tooltip].mdTooltipRight::before {
  left: auto;
  right: -10px;
  bottom: auto;
  top: 50%;
  transform: translate(100%, -50%) scale(0);
  transform-origin: left center;
}
[data-md-tooltip].mdTooltipRight:hover::before {
  transform: translate(100%, -50%) scale(1);
}
[data-md-tooltip].mdTooltipLeft::before {
  display: block;
  left: -15px;
  right: auto;
  bottom: auto;
  top: 50%;
  transform: translate(-100%, -50%) scale(0);
  transform-origin: right center;
}
[data-md-tooltip].mdTooltipLeft:hover::before {
  transform: translate(-100%, -50%) scale(1);
}
.mdTooltipTop:before {
  top: -35px;
  bottom: auto;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;
}

[data-md-tooltip].mdTooltipDisabled::before {
  display: none;
}
