:root {
  --clr-bg-original: hsl(0, 0%, 88%); /* #e0e0e0 */
  --clr-bg: hsl(192, 9%, 89%); /* e0e4e5 */

  --clr-primary-original: hsl(230, 30%, 46%);
  --clr-accent-original: hsl(182, 100%, 72%);
}

.App {
  background-color: var(--clr-bg-original);
}

/* Add primary and accent color variations */
/* Create typography variables */
