:root {
  /* Set color-scheme for system defaults to dark, falling back to light
   <meta name="color-scheme" content="dark light"> in html head will 
   do the same before the css is loaded.
  */
  color-scheme: dark light;

  --clr-bg-original: hsl(0, 0%, 88%); /* #e0e0e0 */
  --clr-bg-original: #e1e8ef;
  /* --clr-bg-original: hsl(229, 10%, 46%); */
  --clr-bg: hsl(192, 9%, 89%); /* e0e4e5 */

  /* primary: {main: */
  --clr-primary-original: hsl(230, 30%, 46%);
  --clr-primary-original: #525e98;
  --clr-accent-original: hsl(182, 100%, 72%);

  --clr-primary-400: hsl(228, 39%, 23%);

  /* Accent colors */
  --clr-accent-500: hsl(12, 60%, 45%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-100: hsl(13, 100%, 96%);

  /* insert neutrals here */

  --clr-text: hsl(228, 15%, 32%);
  /* --clr-heading: black; */

  --clr-neutral-900: hsl(233, 12%, 13%);
  --clr-neutral-400: hsl(228, 15%, 32%);
  --clr-neutral-200: hsl(230, 43%, 76%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /*  Set default (light mode) color scheme */
  --clr-text: var(--clr-neutral-400);
  --clr-bg: var(--clr-bg-original);
  --clr-link: var(--clr-accent-400);
  --clr-icon: var(--clr-neutral-900);
  --clr-button-text: ;
  --clr-button-bg: ;
  --clr-card-bg: var(--clr-neutral-100);
  --clr-main-heading: var(--clr-neutral-900);
  --clr-subheading: var(--clr-primary-original);
  --clr-heading: var(--clr-neutral-900);
  --clr-accent: var(--clr-accent-400);
  --clr-bg-accent: var(--clr-accent-original);
}

@media (prefers-color-scheme: dark) {
  /* --clr-text: ;
  --clr-bg: ;
  --clr-link: ;
  --clr-button-text: ;
  --clr-button-bg: ;
  --clr-main-heading: ;
  --clr-heading: ;
  --clr-subheading: ;
  --clr-accent: ;
  --clr-bg-accent: ; */
}

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/* body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} */

/* Above replace with this */
* {
  margin: 0;
  padding: 0;
  font: inherit; /* strips bold and size from h1s & form elements: fonts  inherited */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Added this removing min-height: 100vh from body below */
html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set links without a class get more readable underlines */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with (responsive), added svg & video */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs, buttons, textarea & select
            --- Taken care of above with * font:inherit
input,
button,
textarea,
select {
  font: inherit;
}
*/

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them
  This is an accessibility setting: it doesn't remove all animations but reduces motion on screen
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Stylings */
body {
  overflow-x: hidden;
}

.App {
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.heading {
  color: var(--clr-heading);
}

.sectionHeading {
  font-size: 60px;
  font-weight: 300;
  color: var(--clr-heading);
}

.subheading {
  color: var(--clr-heading);
  font-weight: bold;
}

.link {
  text-transform: none !important;
  font-size: 16px !important;
  text-decoration: none;
  color: var(--clr-link) !important;
}

.link:hover,
.link:active {
  background: var(--clr-bg-accent);
}

.italic {
  font-style: italic !important ;
  font-weight: 500;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.uppercase {
  text-transform: uppercase;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* Create typography variables */
/* Create spacing variables */
